tosca_definitions_version: cloudify_dsl_1_3

dsl_definitions:

  fortigate_ssh_config: &fortigate_ssh_config
    host_string: { get_attribute: [fortigate_floating_ip, floating_ip_address] }
    user: admin
    password: ''

node_templates:

  basic_route:
    type: cloudify.Fortinet.FortiGate.Config
    interfaces:
      cloudify.interfaces.lifecycle:
        create:
          inputs:
            config_name: router static
            config_id: 1
            config:
              - device: port1
            ssh_config: *fortigate_ssh_config
    relationships:
      - type: cloudify.relationships.contained_in
        target: fortigate_server
      - type: cloudify.relationships.depends_on
        target: zone_external
